html, .imbull-dialog {
    background-color: #FFFFFF;
}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select {
    background-color: #FFFFFF;
    border-color: #DFDFDF;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="url"]:focus, select:focus {
    border-color: #BBBBBB;
}

body, #imbullbody, .form-table .pre {
    color: #333333;
	
}

a, #adminmenu a, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, .plugins a.delete, .ui-tabs-nav a {
    color: #d4d0d0;
}

.widget, #widget-list .widget-top, .postbox, #titlediv, #poststuff .postarea, .stuffbox {
    border-color: #eeeeee;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #FFFFFF inset;
	margin:0 0 20px 0;
	border:1px solid #eee;
}
.widget, #widget-list .widget-top, .postbox, .menu-item-settings {
    background-color: #ffffff;
}

#update-nag, .update-nag {
    background-color: #3882BC;
    border-color: #3882BC;
    color: #555555;
}

#adminmenuback, #adminmenuwrap {
    background-color: #34495E;
    border-color: #dddddd;
}
#adminmenushadow, #adminmenuback {
   /* background-image: url("../../images/back_end/menu-shadow.png");*/
    background-position: right top;
    background-repeat: repeat-y;
}
#adminmenu a:hover, #adminmenu li.menu-top > a:focus, #adminmenu ul.wp-submenu a:hover, #the-comment-list .comment a:hover, #rightnow a:hover, #media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover, .ui-tabs-nav a:hover, .plugins .inactive a:hover, #all-plugins-table .plugins .inactive a:hover, #search-plugins-table .plugins .inactive a:hover {
    color: #219CE3;
}

#adminmenu .imbull-has-submenu:hover .imbull-menu-toggle, #adminmenu .imbull-menu-open .imbull-menu-toggle {
    background: url("../../images/back_end/arrows.png") no-repeat scroll -2px 6px transparent;
}
#adminmenu a.menu-top, .folded #adminmenu li.menu-top, #adminmenu .imbull-submenu .imbull-submenu-head {
    border-bottom-color: #DFDFDF;
    border-top-color: #F9F9F9;
	background:#34495E;
}
#adminmenu .arrow-up{
	background: #fafafa url(../../images/back_end/arrow.png) no-repeat right center !important;
	float: right;
    height: 7px;
    width: 5px;
	padding: 15px 0 0;
	*position:absolute;
	*right:3px;
	*padding:10px 0 0 0;
}
#adminmenu .arrow-down{
	background: #fafafa url(../../images/back_end/arrow-down.png) no-repeat right center !important;
	float: right;
    height: 5px;
    width: 7px;
	padding: 15px 0 0;
	*position:absolute;
	*right:3px;
	*padding:7px 0 0 0;
}
#adminmenu li.imbull-menu-open {
    border-color: #DFDFDF;
}
#adminmenu li.menu-top:hover > a, #adminmenu li.menu-top.focused > a, #adminmenu li.menu-top > a:focus {
    background-color: #ffffff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
#adminmenu li.imbull-has-current-submenu a.imbull-has-current-submenu, #adminmenu li.current a.menu-top, .folded #adminmenu li.imbull-has-current-submenu, .folded #adminmenu li.current.menu-top, #adminmenu .imbull-menu-arrow, #adminmenu .imbull-has-current-submenu .imbull-submenu .imbull-submenu-head {
    background-color: #ffffff;
}
#adminmenu .imbull-menu-arrow div {
    background-color: #ffffff;
    background-image: -moz-linear-gradient(right bottom , #6D6D6D, #808080);
}
#adminmenu li.imbull-not-current-submenu .imbull-menu-arrow {
    background: none repeat scroll 0 0 #E4E4E4;
    border-bottom-color: #DFDFDF;
    border-top-color: #F9F9F9;
}
#adminmenu li.imbull-not-current-submenu .imbull-menu-arrow div {
    background: none repeat scroll 0 0 #E4E4E4;
    border-color: #CCCCCC;
}
.folded #adminmenu li.menu-top li:hover a {
    background-image: none;
}
#adminmenu li.imbull-has-current-submenu a.imbull-has-current-submenu, #adminmenu li.current a.menu-top, #adminmenu .imbull-has-current-submenu .imbull-submenu .imbull-submenu-head {
    border-bottom-color: #f5f5f5;
    border-top-color: #f5f5f5;
    color: #ffffff;
    background-color: #34495E;
}
.folded #adminmenu li.imbull-has-current-submenu, .folded #adminmenu li.current.menu-top {
    border-bottom-color: #6D6D6D;
    border-top-color: #808080;
}
#adminmenu .imbull-submenu a:hover, #adminmenu .imbull-submenu a:focus {
    background-color: #EAF2FA;
    color: #219CE3;
}
#adminmenu .imbull-submenu li.current, #adminmenu .imbull-submenu li.current a, #adminmenu .imbull-submenu li.current a:hover {
    color: #219CE3;
}
#adminmenu .imbull-submenu li.current a{
    color: #219CE3;
	background:url(../../images/back_end/new-icon.png) no-repeat left center;
	padding:0 0 0 20px;
	margin:0 0 0 20px;
}
#adminmenu .imbull-submenu ul {
    background-color: #FFFFFF;
}
#adminmenu .imbull-submenu-wrap, #adminmenu .imbull-submenu ul {
    border-color: #DFDFDF;
}
#adminmenu .imbull-submenu-wrap, .folded #adminmenu .imbull-has-current-submenu .imbull-submenu-wrap {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
#adminmenu .imbull-submenu .imbull-submenu-head {
    background-color: #ECECEC;
    border-right-color: #DFDFDF;
}
#adminmenu div.imbull-submenu {
    background-color: transparent;
}
#collapse-menu {
    color: #AAAAAA;
}
#collapse-menu:hover {
    color: #999999;
}
#collapse-button {
    background-color: #F4F4F4;
    background-image: -moz-linear-gradient(center bottom , #DFDFDF, #FFFFFF);
    border-color: #CCCCCC;
}
#collapse-menu:hover #collapse-button {
    border-color: #AAAAAA;
}
#collapse-button div {
    background: url("../../images/back_end/arrows.png") no-repeat scroll 0 -72px transparent;
}
.folded #collapse-button div {
    background-position: 0 -108px;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-offer div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll 0 0 transparent;
}
#adminmenu .menu-icon-offer:hover div.imbull-menu-image, #adminmenu .menu-icon-offer.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-offer.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -17px 0 transparent;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-shop div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -34px 0 transparent;
}
#adminmenu .menu-icon-shop:hover div.imbull-menu-image, #adminmenu .menu-icon-shop.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-shop.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -51px 0 transparent;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-pages div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -68px 0 transparent;
}
#adminmenu .menu-icon-pages:hover div.imbull-menu-image, #adminmenu .menu-icon-pages.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-pages.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -85px 0 transparent;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-popular div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -102px 0 transparent;
}
#adminmenu .menu-icon-popular:hover div.imbull-menu-image, #adminmenu .menu-icon-popular.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-popular.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -119px 0 transparent;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-media div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -136px 0 transparent;
}
#adminmenu .menu-icon-media:hover div.imbull-menu-image, #adminmenu .menu-icon-media.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-media.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -153px 0 transparent;
}



.icon16.icon-dashboard, #adminmenu .menu-icon-user div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -170px 0 transparent;
}
#adminmenu .menu-icon-user:hover div.imbull-menu-image, #adminmenu .menu-icon-user.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-user.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -187px 0 transparent;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-profile div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -204px 0 transparent;
}
#adminmenu .menu-icon-profile:hover div.imbull-menu-image, #adminmenu .menu-icon-profile.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-profile.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -221px 0 transparent;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-widgets div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -238px 0 transparent;
}
#adminmenu .menu-icon-widgets:hover div.imbull-menu-image, #adminmenu .menu-icon-widgets.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-widgets.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -255px 0 transparent;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-home div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -272px 0 transparent;
}
#adminmenu .menu-icon-home:hover div.imbull-menu-image, #adminmenu .menu-icon-home.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-home.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -289px 0 transparent;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-categories div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -306px 0 transparent;
}
#adminmenu .menu-icon-categories:hover div.imbull-menu-image, #adminmenu .menu-icon-categories.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-categories.current div.imbull-menu-image {
    /*background: url("../../images/back_end/menu.png") no-repeat scroll -323px 0 transparent;*/
    color: #DFDFDF
}
.icon16.icon-dashboard, #adminmenu .menu-icon-affilates div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -340px 0 transparent;
}
#adminmenu .menu-icon-affilates:hover div.imbull-menu-image, #adminmenu .menu-icon-affilates.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-affilates.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -357px 0 transparent;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-footer div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll 0 -19px transparent;
}
#adminmenu .menu-icon-footer:hover div.imbull-menu-image, #adminmenu .menu-icon-footer.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-footer.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -17px -19px transparent;
}


.icon16.icon-dashboard, #adminmenu .menu-icon-clickouts div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -34px -19px transparent;
}
#adminmenu .menu-icon-clickouts:hover div.imbull-menu-image, #adminmenu .menu-icon-clickouts.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-clickouts.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -51px -19px transparent;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-shop div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -34px 0 transparent;
}
#adminmenu .menu-icon-shop:hover div.imbull-menu-image, #adminmenu .menu-icon-shop.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-shop.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -51px 0 transparent;
}.icon16.icon-dashboard, #adminmenu .menu-icon-visitor div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -68px -19px transparent;
}
#adminmenu .menu-icon-visitor:hover div.imbull-menu-image, #adminmenu .menu-icon-visitor.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-visitor.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -85px -19px transparent;
}.icon16.icon-dashboard, #adminmenu .menu-icon-emails div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -102px -19px transparent;
}
#adminmenu .menu-icon-emails:hover div.imbull-menu-image, #adminmenu .menu-icon-emails.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-emails.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -119px -19px transparent;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-reports div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -136px -19px transparent;
}
#adminmenu .menu-icon-reports:hover div.imbull-menu-image, #adminmenu .menu-icon-reports.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-reports.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -152px -19px transparent;
}


.icon16.icon-dashboard, #adminmenu .menu-icon-searchbar div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -169px -19px transparent;
}
#adminmenu .menu-icon-searchbar:hover div.imbull-menu-image, #adminmenu .menu-icon-searchbar.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-searchbar.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -186px -19px transparent;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-lightbox div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -203px -19px transparent;
}
#adminmenu .menu-icon-lightbox:hover div.imbull-menu-image, #adminmenu .menu-icon-lightbox.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-lightbox.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -220px -19px transparent;
}
.icon16.icon-dashboard, #adminmenu .menu-icon-language div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -237px -19px transparent;
}
#adminmenu .menu-icon-language:hover div.imbull-menu-image, #adminmenu .menu-icon-language.imbull-has-current-submenu div.imbull-menu-image, #adminmenu .menu-icon-language.current div.imbull-menu-image {
    background: url("../../images/back_end/menu.png") no-repeat scroll -254px -19px transparent;
}


#post-body {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-color: #DFDFDF;
    border-top-color: #FFFFFF;
}
#nav-menu-header {
    border-bottom-color: #DFDFDF;
}

.panel-box {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    border: medium none;
    padding-top: 5px ;
}
    
.panel-box .panel-icon {
    display: table-cell;
    padding: 29px;
    width: 1%;
    vertical-align: top;
    border-radius: 0px;
    text-align: center;
    border-bottom: 1px solid #afaaaa2e;
    border-top: 1px solid #afaaaa2e;
    border-right: 1px solid #afaaaa2e;
}
    
    .dashboard-stats .stat-icon {
    line-height: 65px;
}
    

    .bg-success {
    background-color: #A3C86D !important;
    color: #FFF !important;
}
    
    .success-text {
    color: #82b33a;
}
    
    .bg-danger {
    background-color: #FF7857 !important;
    color: #FFF !important;
}
    
    .danger-text {
    color: #d15b3d;
}
    
    
    .bg-lovender {
    background-color: #8075C4 !important;
    color: #FFF !important;
}
    
    
    .lovender-text {
    color: #6a5fb1;
}
    
    

    .bg-info {
    background-color: #7ACBEE !important;
    color: #FFF !important;
}
    
    .info-text {
    color: #3ca0cb;
}
    
    
    
    
    .size-h1 {
    font-size: 20px;
}
    
    .panel-icon p.text {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
    
    
    
    .panel-icon i {
    text-align: center;
}
    
    
    .panel-icon i {
    text-align: center;
}
    
    
    .text-large {
    font-size: 50px;
}


    .text-large {
    font-size: 50px;
}
    

.dashboard-stats {
    width: 100% ;
}

.section-1 {
    width: 49%;
    display: inline-block;
}

.section-2 {
    width: 49% ;
    float: left;
}